## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%block name="container">
<div class="container">
    <div class="row">
        <div class="thumbnail col-xs-12 col-md-4 col-md-offset-4">
            <div class="caption text-center">
                <h3>Estimation de la collection</h3>
                <h1>${total} €</h1>
            </div>
        </div>
    </div>
    <div class="row">
    %for manga in mangas:
    %for tome in manga.tomes:
    %if tome.possede == True:
    <div class="col-xs-6 col-md-3">
        <a href="/manga/${manga.id}/tome/${tome.numero}/" class="thumbnail"
           style="background: url(${tome.couverture}) no-repeat;background-size:100%, 100%;height:300px;">
        </a>
    </div>
    %endif
    %endfor
    %endfor
    </div>
</div>
</%block>