## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%block name="container">
<div class="container">
    <div class="row">
        <div class="panel-heading"></div>
        <div class="list-group">
            %for genre in genres:
            <div class="list-group-item" role="button">
                <h4 class="list-group-item-heading">${genre.genre}</h4>
                <p class="list-group-item-text">
                </p>
            </div>
            %endfor
        </div>
    </div>
</div>
</%block>