## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%block name="container">
<section>
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3>${manga.titre} par
                        %if manga.dessinateur==manga.scenariste:
                        ${manga.dessinateur}
                        %else:
                        ${manga.dessinateur} / ${manga.scenariste}
                        %endif
                    </h3>
                    <h4>${manga.genre} €</h4>
                    <p>${manga.description}</p>


                    <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#myModal">Supprimer
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                </div>
                                <div class="modal-body">
                                    Etes vous sur de vouloir supprimer ce manga ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">annuler
                                    </button>
                                    <a href="/manga/delete/${manga.id}/" role="button"
                                       class="btn btn-danger">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        <div class="row">
        <div class="well">
            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <%! import math %>
                    <%
                    if len(manga.tomes)>4:
                        nb_item = math.ceil(len(manga.tomes)/4)
                    elif len(manga.tomes)>0:
                        nb_item = 1
                    else:
                        nb_item = 0
                    print(len(manga.tomes))
                    print(nb_item)
                    min=1
                    max=5
                    %>
                    %for i in range(nb_item):
                    %if i==0:
                    <div class="item active">
                        <div class="row">
                            %for tome in manga.tomes:
                            %if tome.numero in range(min, max):
                            <div class="col-xs-6 col-lg-3">
                                <a href="/manga/${manga.id}/tome/${tome.numero}/" class="thumbnail"
                                   style="background: url(${tome.couverture}) no-repeat;background-size:100%, 100%;height:300px;">
                                </a>
                            </div>
                            %endif
                            %endfor
                            <%
                            min+=4
                            max+=4
                            %>
                        </div>
                    </div>
                    %else:
                    <div class="item">
                        <div class="row">
                            %for tome in manga.tomes:
                            %if tome.numero in range(min, max):
                            <div class="col-xs-6 col-lg-3">
                                <a href="/manga/${manga.id}/tome/${tome.numero}/" class="thumbnail"
                                   style="background: url(${tome.couverture}) no-repeat;background-size:100%, 100%;height:300px;">
                                </a>
                            </div>
                            %endif
                            %endfor
                        </div>
                    </div>
                    %endif
                    %endfor
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i
                        class="fa fa-chevron-left fa-2x"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i
                        class="fa fa-chevron-right fa-2x"></i></a>

                <ol class="carousel-indicators">
                    %for i in range(nb_item):
                    %if i==0:
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    %else :
                    <li data-target="#myCarousel" data-slide-to="${i}"></li>
                    %endif
                    %endfor
                </ol>
            </div><!-- End Carousel -->
        </div><!-- End Well -->
    </div>
    </div>
</section>
</%block>