## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%block name="container">
<form method="post" action="/manga/add/">
    <input type="text" name="titre">
    <textarea name="description"></textarea>
    <select name="scenariste">
        %for scenariste in scenaristes:
        <option value="${scenariste.scenariste}">${scenariste.scenariste}</option>
        %endfor
    </select>
    <select name="dessinateur">
        %for dessinateur in dessinateurs:
        <option value="${dessinateur.dessinateur}">${dessinateur.dessinateur}</option>
        %endfor
    </select>
    <select name="editeur">
        %for editeur in editeurs:
        <option value="${editeur.editeur}">${editeur.editeur}</option>
        %endfor
    </select>
    <select name="statut">
        <option value="En cours">En cours</option>
        <option value="En pause">En pause</option>
        <option value="Terminé">Terminé</option>
    </select>
    <select name="genre">
        %for genre in genres:
        <option value="${genre.genre}">${genre.genre}</option>
        %endfor
    </select>
    <input type="submit" value="Ajouter ce manga">
</form>
</%block>